#CSS 

body {
       text-align: center;   
      margin-left: 125px;
      margin-right: 125px;
      font-size: 50%;
}

.content {
    background-image: url("https://images.pexels.com/photos/2122755/pexels-photo-2122755.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-repeat:repeat;
       background-size:cover;
    text-align: center;
        max-width: 1200px;
        margin: auto;
}

.links {
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: teal;
}

#top {
    text-align: center;
	background-color: ghostwhite;
	padding-bottom: 10px;
	width: 800;
	color: ghostwhite;
}

a:link {
	color:white;
    text-decoration: none;
}

a:hover {
	color:blue;
}

header,
main,
footer {
	font-size: 1.3em;
}

article p {
	text-align: justify;
	padding: 10px 10px;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

article h2 {
    text-align: left;
	padding: 5px;
	margin: 0px;
}