#CSS 

body {
      margin-left: 125px;
      margin-right: 125px;
}

content {
        max-width: 500px;
        margin: auto;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: black;
}

#top {
    text-align: center;
	background-color: rosybrown;
	padding-bottom: 10px;
	width: 800;
	color: ghostwhite;
}

a:link {
	color:white;
    text-decoration: none;
}

a:hover {
	color:blue;
}

.footer {
	font-size: 0.9em;
	text-align: center;
}

main {
	background-color: lightgray;
}

article p {
	text-align: justify;
	padding: 10px 10px;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

article h2 {
	padding: 5px;
	margin: 0px;
}