#CSS 

body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-size: 62.5%;
}

h1 {
	font-size: 2.5em;
}

nav ul {
	text-align: center;
	padding: 0;
}

a:hover {
	color:blue;
}

header,
main,
footer {
	background-color: #ddd;
	font-size: 1.6em;
}

article p {
	text-align: justify;
    padding: 10px 10px;
}

article h2 {
	padding: 5px;
	margin: 0px;
}