#CSS 


body {
    margin-left: 125px;
    margin-right: 125px;
}

#top {
	text-align: center;
	background-color: darkcyan;
	padding-bottom: 10px;
	width: 800;
	color: orange;
}

a:link, a:visited {
	color:white;
	text-decoration: none;
}

a:hover {
	color:blue;
}

.footer {
	font-size: .75em;
	text-align: center;
}

main {
	background-color: lightgray;
}


article p {
	text-align: justify;
	padding: 10px 10px;
}

article h2 {
	padding: 5px;
	margin: 0px;
}