#CSS 

body {
    margin-left: 125px;
    margin-right: 125px;
}

h1 {
    font-size: 2.5em;
    color: black;
}

#top {
	text-align: center;
	background-color: #04B986;
	padding-bottom: 10px;
	width: 800;
	color: #F2F2F2;
}

a:link {
	color:white;
	text-decoration: none;
}

a:hover {
	color:blue;
}

.footer {
	font-size: .75em;
	text-align: center;
}

main {
	background-color: lightgray;
}

article p {
	text-align: justify;
	padding: 10px 10px;
}

article h2 {
	padding: 5px;
	margin: 0px;
}